/* DEFAULTS */
* {
    font-family: Arial;
}

body {
    margin: 0;
}

label {
    display: block;
    margin-top: 2em;
}

h1 {
    text-align:center;
}

/* BRANDING */
:root {
    --theme-color-primary: #526EFE;
    --theme-color-secondary: #FFF5E2;
    --theme-color-accent: #9067DF;
    --theme-color-secondary-dark: #C66B25;
}